<div class="main-content" style="padding-top: 25px;" *ngIf="toggleTable">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon card-header-info">
                        <div class="row">
                            <div class="col-md-1">
                                <div class="card-icon">
                                    <i class="material-icons">assignment</i>
                                </div>
                            </div>
                            <div class="col-md-9"></div>
                            <div class="col-md-2">
                                <button mat-button type="button" class="btn pull-right btn-info"
                                    style="border-radius: 30px; margin-top:7px" (click)="back()">Back</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="creationForm" (ngSubmit)="submitAction(creationForm.value)">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <mat-form-field class="example-full-width" style="width: inherit;">
                                            <input matInput placeholder="Brand Name" type="text" formControlName= "brand_name" 
                                            [value]="creationForm.brand_name">
                                        </mat-form-field>
                                        <mat-error>
                                            <span *ngIf="!creationForm.get('brand_name').valid && creationForm.get('brand_name').touched">Please
                                            Enter Brand Name</span>
                                        </mat-error>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <mat-form-field class="example-full-width" style="width: inherit;">
                                            <input matInput placeholder="Category" type="text" formControlName= "category" 
                                            [value]="creationForm.category">
                                        </mat-form-field>
                                        <mat-error>
                                            <span *ngIf="!creationForm.get('category').valid && creationForm.get('category').touched">Please
                                            Enter Category</span>
                                        </mat-error>
                                    </div>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-info pull-right">
                                Add
                            </button>
                            
                            <!-- <div class="row">
                                <div class="col-md-12">
                                    <span style="color: red">{{message}}</span>
                                </div>
                            </div> -->
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-brands *ngIf="!toggleTable"></app-brands>